<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}"
>

<!-- 질문 -->
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <span th:if="${question.hit != null}" th:text="|조회수 ${question.hit}|"></span>
    <div class="card my-3">
        <div class="card-body">
            <!--마크다운 적용-->
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${question.author.username}" class="mb-2"></div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <!-- 글쓴이만 수정 -->
            <!-- #authentication.getPrincipal() == 현재 로그인한 회원정보 -->
            <div>
                <a onclick="if ( !confirm('정말로 추천하시겠습니까?') ) return false;" class="btn btn-sm btn-outline-secondary"
                   th:href="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}"
                   class="btn btn-sm btn-outline-secondary" th:text="수정"
                   sec:authorize="isAuthenticated()"
                   th:if="${#authentication.getPrincipal().getUsername() == question.author.username}"></a>
            <!-- 글쓴이만 삭제 -->
                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/question/delete/${question.id}|}"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <!-- 답변 개수 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

    <!-- 답변 내용 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
<!--            마크다운 적용-->
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${answer.author.username}" class="mb-2"></div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <!-- 글쓴이만 수정 -->
            <!-- #authentication.getPrincipal() == 현재 로그인한 회원정보 -->
            <div class="my-3">
                <a onclick="if ( !confirm('정말로 추천하시겠습니까?') ) return false;" class="btn btn-sm btn-outline-secondary"
                   th:href="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/answer/delete/${answer.id}|}"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <!-- 비로그인 회원 답변폼 비활성화 -->
        <textarea sec:authorize="isAnonymous()" disabled class="form-control" name="content" rows="10"></textarea>
        <!-- 로그인 회원 답변폼 활성화 -->
        <textarea sec:authorize="isAuthenticated()" class="form-control" name="content" rows="10"></textarea>
        <!-- 비로그인 회원 답변폼 비활성화 -->
        <button sec:authorize="isAnonymous()" disabled type="submit" class="btn btn-dark my-2">답변등록</button>
        <!-- 로그인 회원 답변폼 활성화 -->
        <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-dark my-2">답변등록</button>
    </form>
</div>
</html>

